<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/hungteshun/shop/user/vo/user.hbm.xml</value>
				<value>com/hungteshun/shop/category/vo/category.hbm.xml</value>
				<value>com/hungteshun/shop/categorysecond/vo/categorysecond.hbm.xml</value>
				<value>com/hungteshun/shop/product/vo/product.hbm.xml</value>
				<value>com/hungteshun/shop/orders/vo/orderitem.hbm.xml</value>
				<value>com/hungteshun/shop/orders/vo/orders.hbm.xml</value>
				<value>com/hungteshun/shop/admin/vo/admin.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Action的配置 =========================== -->
		<!-- 配置首页访问的action -->
		<bean id="indexAction" class="com.hungteshun.shop.index.action.IndexAction" scope="prototype">
			<property name="categoryService" ref="categoryService"/>
			<property name="productService" ref="productService"/>
		</bean>
		<!-- 配置用户模块的action -->
		<bean id="userAction" class="com.hungteshun.shop.user.action.UserAction" scope="prototype">
			<!-- 注入UserService -->
			<property name="userService" ref="userService"/>
		</bean>
		<!-- 配置验证码的action-->
		<bean id="securityCode" class="com.hungteshun.shop.security.action.SecurityCode" scope="prototype">
		</bean>
		<!-- 配置一级分类的action -->
		<bean id="categoryAction" class="com.hungteshun.shop.category.action.CategoryAction" scope="prototype">
			<property name="categoryService" ref="categoryService"/>
		</bean>
		<!-- 配置商品模块的action -->
		<bean id="productAction" class="com.hungteshun.shop.product.action.ProductAction" scope="prototype">
			<property name="productService" ref="productService"/>
			<property name="categoryService" ref="categoryService"/>
		</bean>
		<!-- 配置购物车模块的action -->
		<bean id="cartAction" class="com.hungteshun.shop.cart.action.CartAction" scope="prototype">
			<property name="productService" ref="productService"/>
		</bean>
		<!-- 订单模块的action -->
		<bean id="orderAction" class="com.hungteshun.shop.orders.action.OrderAction" scope="prototype">
			<property name="orderService" ref="orderService"/>
		</bean>
		<!-- 后台管理员的action -->
		<bean id="adminAction" class="com.hungteshun.shop.admin.action.AdminAction" scope="prototype">
			<property name="adminService" ref="adminService"/>
		</bean>
		<!-- 后台一级分类管理的action -->
		<bean id="adminCategoryAction" class="com.hungteshun.shop.admin.action.AdminCategoryAction" scope="prototype">
			<property name="categoryService" ref="categoryService"/>
		</bean>
		<!-- 后台二级分类管理的action -->
		<bean id="adminCategorySecondAction" class="com.hungteshun.shop.admin.action.AdminCategorySecondAction" scope="prototype">
			<property name="categorySecondService" ref="categorySecondService"/>
			<property name="categoryService" ref="categoryService"/>
		</bean>
		<!-- 后台商品管理的action -->
		<bean id="adminProductAction" class="com.hungteshun.shop.admin.action.AdminProductAction" scope="prototype">
			<property name="productService" ref="productService"/>
			<property name="categorySecondService" ref="categorySecondService"/>
		</bean>
		<!-- 后台订单管理的action -->
		<bean id="adminOrdersAction" class="com.hungteshun.shop.admin.action.AdminOrdersAction" scope="prototype">
			<property name="orderService" ref="orderService"/>
		</bean>
	<!-- Service的配置 =========================== -->
		<bean id="userService" class="com.hungteshun.shop.user.service.UserService">
			<!-- 注入UserDao -->
			<property name="userdao" ref="userDao"/>
		</bean>
		<bean id="categoryService" class="com.hungteshun.shop.category.service.CategoryService">
			<property name="categoryDao" ref="categoryDao"/>
		</bean>
		<bean id="categorySecondService" class="com.hungteshun.shop.categorysecond.service.CategorySecondService">
			<property name="categorySecondDao" ref="categorySecondDao"/>
		</bean>
		<bean id="productService" class="com.hungteshun.shop.product.service.ProductService">
			<property name="productDao" ref="productDao"/>
		</bean>
		<bean id="orderService" class="com.hungteshun.shop.orders.service.OrderService">
			<property name="orderDao" ref="orderDao"/>
		</bean>
		<bean id="adminService" class="com.hungteshun.shop.admin.service.AdminService">
			<property name="adminDao" ref="adminDao"/>
		</bean>
	<!-- Dao的配置 =========================== -->
		<bean id="userDao" class="com.hungteshun.shop.user.dao.UserDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<bean id="categoryDao" class="com.hungteshun.shop.category.dao.CategoryDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<bean id="categorySecondDao" class="com.hungteshun.shop.categorysecond.dao.CategorySecondDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<bean id="productDao" class="com.hungteshun.shop.product.dao.ProductDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<bean id="orderDao" class="com.hungteshun.shop.orders.dao.OrderDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<bean id="adminDao" class="com.hungteshun.shop.admin.dao.AdminDao">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
</beans>
